@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b12;
  color: white;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}
